

dragableListItem {
    transition: all 0.3s ease; /* Smooth transition for all properties */
    width: 80%; /* Takes 80% of the parent div's width */
    min-height: 50px; /* Fixed height */
    position: relative; /* For positioning child elements */
    margin: auto; /* Center the task div horizontally */
    border: 2px solid rgb(48, 48, 48);
    padding: 10px;
    overflow: auto;
    display: flex; /* Arrange child elements in a row */
    align-items: center; /* Vertically center the child elements */
    justify-content: space-between; /* Space out the child elements */
    gap: 20px; /* Adds spacing between horizontal items */ background: #d8d8d8;
    margin-bottom: 5px; /* Add vertical spacing between list items */
}

div.dragableItemContent {
    width: 100%; /* Automatically adjust width based on remaining space */
    height: auto; /* Expand downwards when content grows */
    min-height: 100%; /* Matches the height of the task div initially */
    word-break: break-word;

}

.dragging {
    position:fixed;
    width:"100px";
    z-index: 9;
    /* transform-origin: center right; */
    rotate: -5deg;
}

.dragDummy {
    background: #f3f3f3;
    border: 4px dotted rgb(226, 226, 226);
}

dropTarget {
    position: fixed;
    top: 0; /* Adjust as needed to align with the intended position */
    width: 100%;
    height: 3px;
    background-color: rgb(60, 114, 164);
    z-index: 8;
}